<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap" rel="stylesheet" />
    <script src="//cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex items-center w-full h-screen justify-center flex-col select-none" style="font-family:'Outfit', sans-serif">
      <main class="p-5">
        <h1 class="my-5 text-5xl">404</h1>
        <p class="my-4 mb-7 text-gray-600">The event you were looking for couldn't be found</p>
        <a href="//smartlist.tech" class="text-sm inline-flex bg-rose-800 transition-all text-white rounded-full px-8 focus:ring-2 my-1 ring-rose-300 outline-none hover:shadow-lg hover:bg-rose-900 py-3">Back to home</a>
        <a href="/about" class="text-sm inline-flex bg-rose-200 transition-all text-rose-900 rounded-full px-8 focus:ring-2 my-1 ring-rose-300 outline-none hover:shadow-lg hover:bg-rose-300 py-3">About Smartlist Events</a>
      </main>
    </div>
  </body>
</html>
