<!DOCTYPE html>
<html>
	<head>
		<title><%=event.title%> &bull; Smartlist Events</title>
		<link rel="stylesheet" href="/css/ripple.css"/>
		<link rel="stylesheet" href="/dist/build.css"/>
		<link rel="shorcut icon" href="https://smartlist.tech/app/img/logo/48x48.png">
		<link 
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp|Outfit|Inter" />
		<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/kutty@latest/dist/kutty.min.js"></script>
		<script>
			const EVENT_ID = '6227ea2c7aabff48117758b7';
			const ACCOUNT_INFO = {
				name: "Manu",
				email: "manuthecoder@protonmail.com",
				image: "https://replit.com/cdn-cgi/image/width=1920,quality=80/https://storage.googleapis.com/replit/images/1615307601188_444d33267b0ab288b076f21da2abafc2.jpeg"
			}
		</script>
	</head>
	<body class="dark:bg-gray-900 transition-padding pl-[300px] pt-[5rem] dark:text-white">
		<nav id="nav" class="left-0 fixed h-[5rem] top-0 flex w-full z-30 dark:border-gray-800 dark:border-b dark:bg-gray-900 bg-white">
			<a href="https://events5.manuthecoder.repl.co/events/<%=event._id%>" target="_blank" class="px-4 nav-item material-ripple w-auto text-lg"><%=event.title%> <i class="material-icons ml-4">open_in_new</i></a>
			<div class="ml-auto flex items-center">
				<a href="javascript:void(0)" id="chatTrigger" class="center-ripple nav-item material-ripple"><i class="material-icons" id="chatTriggerIcon">chat_bubble_outline</i></a>
			<a href="#" class="center-ripple nav-item material-ripple"><i class="material-icons">settings</i></a>
			<a href="#" class="lg:inline-flex hidden md:inline-flex nav-item center-ripple material-ripple"><i class="material-icons">apps</i></a>

					<a 
						onclick="document.getElementById('share-modal').classList.toggle('hidden')"
						href="javascript:void(0)" id="share-trigger" class="border-none px-5 w-auto ml-2 material-ripple@light rounded-xl focus:bg-Amaranth-900 focus:ring-0 ring-0 bg-Amaranth-700 hover:shadow-lg hover:shadow-Amaranth-100 dark:hover:shadow-Amaranth-900 h-12 hover:bg-Amaranth-800 px-4 text-white gap-3 nav-item material-ripple"><i class="material-icons align-center">share</i> Share</a>
	
				<button class="mx-2 outline-none focus:ring-2 ring-Amaranth-200 bg-gray-300 material-ripple rounded-full">
					<img src="https://storage.googleapis.com/replit/images/1615307601188_444d33267b0ab288b076f21da2abafc2.jpeg" alt="ManuTheCoder" onload="this.classList.remove('opacity-0')" class="transition-all opacity-0 w-10 h-10 rounded-full"/>
				</button>
			</div>
		</nav>

		<div id="share-modal" class="fixed right-20 top-20 shadow-lg w-96 z-50 border bg-white rounded-lg -mt-2 animation-scale px-7 py-5 dark:border-gray-600 hidden dark:bg-gray-700">
			<p class="text-gray-500 my-3 rounded-lg bg-blue-300 p-3 text-sm select-none text-blue-900">Due to COVID-19, we're temporarily increasing the collaborator limit to 25. </p>
			<h3 class="text-xl mb-2 my-4">Share</h3>
			<p class="text-gray-500 my-1">Invite up to 15 collaborators</p>
			<div class="flex gap-2 pb-2">
				<input type="text" class="dark:bg-gray-600 select-none px-5 py-2 rounded-2xl my-3 bg-gray-100 focus:border-gray-900 border-2 border-transparent w-full focus:bg-gray-200 dark:focus:border-white dark:focus:ring-white dark:focus:bg-gray-600" placeholder="Invite by email..."/>
				<button class="text-sm w-[100px] px-5 py-2 rounded-2xl my-3 bg-gray-800 text-white material-ripple hover:shadow-lg material-ripple@light focus:border-gray-500 border-2 border-transparent w-full focus:bg-gray-900 outline-none">Send</button>
			</div>
			
				<article class="user">
  <img src="https://replit.com/cdn-cgi/image/width=1920,quality=80/https://storage.googleapis.com/replit/images/1615307601188_444d33267b0ab288b076f21da2abafc2.jpeg" alt="" class="w-10 h-10 rounded-full" />
  <div>
    <p>Manu G</p>
    <p class="text-sm text-gray-500">Manu G</p>
  </div>
  <div class="ml-auto">
    <button class="remove-btn material-ripple center-ripple focus:bg-gray-200 transition-all"><i class="material-icons">remove_circle_outline</i></button>
  </div>
</article>
		</div>
		
		<aside class="z-10 left-0 overflow-y-scroll fixed pt-5 top-[5rem] h-[calc(100vh-5rem)]">
			<span class="subheader">Event planning</span>
			<a href="#/overview" class="material-ripple sidenav-item">
				<i class="material-icons">dashboard</i>
				Overview
			</a>
			<a href="#/menu" class="material-ripple sidenav-item">
				<i class="material-icons">lunch_dining</i>
				Menu
			</a>
			<a href="#/attendees" class="material-ripple sidenav-item">
				<i class="material-icons">group</i>
				Attendees
			</a>
			<a href="#/lists" class="material-ripple sidenav-item">
				<i class="material-icons">sticky_note_2</i>
				Lists
			</a>
			<a href="#/items" class="material-ripple sidenav-item">
				<i class="material-icons">view_in_ar</i>
				Items
			</a>
			<a href="#/outline" class="material-ripple sidenav-item">
				<i class="material-icons">list</i>
				Outline
			</a>

			<span class="subheader">Advertising, publicity, and resources</span>
			<a href="#/invitations" class="material-ripple sidenav-item">
				<i class="material-icons">rsvp</i>
				Invitations
			</a>
			<a href="#/ticket-designer" class="material-ripple sidenav-item">
				<i class="material-icons">smart_button</i>
				Ticket designer</a>
			<a href="#/event-website" class="material-ripple sidenav-item">
				<i class="material-icons">language</i>
				Event website
			</a>
			<a href="#/floor-plan" class="material-ripple sidenav-item">
				<i class="material-icons">category</i>
				Floor plan
			</a>
			<a href="#/check-in" class="material-ripple sidenav-item">
				<i class="material-icons">fact_check</i>
				Check-in
			</a>
		</aside>
		<main id="_root" class="w-full h-[calc(100vh-5rem)] overflow-y-auto">
			<div class="flex items-center justify-center w-full h-full"> <div class="spinner w-10 h-10" role="status"> <span class="sr-only">Loading...</span> </div> </div>
		</main>

<aside id="chatSidenav" class="lg:transition-none md:transition-none transition-all lg:right-0 md:right-0 right-[-100vw] fixed top-0 w-full md:w-[270px] lg:w-[270px] h-screen z-50 bg-gray-900 dark:bg-teal-900 text-white">
  <header class="sticky top-0 pl-6 pr-2 h-20 items-center py-3 text-gray-100 flex gap-3 text-lg">
    Chat
    <button class="w-10 h-10 inline-flex hover:bg-gray-800 dark:bg-teal-800 items-center justify-center rounded-full ml-auto material-ripple center-ripple dark:hover:bg-teal-800" onclick="document.getElementById('chatTrigger').click()">
			<i class="material-icons">chevron_right</i>
		</button>
  </header>
  <main class="mr-auto overflow-x-hidden overflow-y-scroll h-screen pb-[165px]" id="chatContainer"></main>
  <footer class="sticky w-full bottom-0 bg-white h-16 text-sm flex items-center gap-2 px-3 bg-gray-900 dark:bg-teal-900">
  <div class="h-10 w-full">
    <input id="chatInput" type="text" class="outline-none rounded-full bg-gray-800 px-4 bg-gray-700 dark:bg-teal-700 w-full h-full w-[calc(100%-20px)] dark:placeholder-teal-400 dark:border-teal-600 dark:focus:ring-teal-600 dark:focus:border-teal-600 ring-inset" placeholder="Message @everyone" />
  
  </div>
    <button class="w-10 h-10 inline-flex items-center rounded-full justify-center"><i class="material-icons">send</i></button>
  </footer>
</aside>
		<script src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js'></script>
		<script defer src="/js/app.js"></script>
		<script defer async src="/js/ripple.js"></script>
	</body>
</html>