<h1 class="title">Attendees</h1>

<div x-data="dialog()">
  <a class="hidden" x-spread="trigger" id="AttributesTrigger"></a>
  <div class="backdrop-blur-lg dialog cursor-auto flex items-center" x-spread="dialog" x-cloak>
    <div class="dialog-content">
			<div class="text-xl border-0 my-3">Attributes</div>
			<div id="Attributes"></div>
			<br>
			<button type="submit" x-spread="close" class="modal-btn material-ripple">Done</button>
    </div>
  </div>
</div>

<div class="flex flex-col p-4">
  <div class="flex mb-3 items-center">
    <label for="table-search" class="sr-only">Search</label>

    <div class="relative">
      <div
        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
      >
        <i class="material-icons mr-5 pr-3 dark:text-gray-300 texr-gray-500">search</i>
      </div>
      <input
        type="text"
        id="table-search"
        class="outline-none focus:ring-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-Amaranth-500 focus:border-Amaranth-500 block w-80 pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-Amaranth-500 dark:focus:border-Amaranth-500"
        placeholder="Search for attendeess"
      />
    </div>
		<button
      type="button"
      class="ml-auto text-white bg-Amaranth-700 hover:bg-Amaranth-800 float-right material-ripple material-ripple@light hover:shadow-lg font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 dark:bg-Amaranth-600 dark:hover:bg-Amaranth-700 dark:focus:ring-Amaranth-800 flex gap-4 items-center"
    >
      <i class="material-icons">add</i>Create
    </button>
  </div>
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow-md sm:rounded-lg">
        <table class="min-w-full">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th
                scope="col"
                class="table-col"
              >
                Name
              </th>
              <th
                scope="col"
                class="table-col"
              >
                Email
              </th>
              <th
                scope="col"
                class="table-col"
              >
                Phone
              </th>
              <th scope="col" class="relative py-3 px-6">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody id="users">
						<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
							<td class="table-td text-center" colspan="4"><span class="text-lg my-3 inline-block dark:text-white text-black">No attendees yet!</span><br>Gain attendees from publishing your event page, or manually creating users</td>
						</tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
	function viewAttributes(data) {
		setTimeout(() => {
			document.getElementById('AttributesTrigger').click();
			document.getElementById('Attributes').innerHTML = `
${Object.keys(data).map(attr => {
	return `
<p>${attr}</p>
<p class="mb-4 text-gray-600 dark:text-gray-300">${data[attr]}</p>
`;
}).join('')}
`;
		}, 20);
	}
	
	var users = <%-JSON.stringify(data)%>;
	document.getElementById('users').innerHTML = "";
	users.forEach(user => {
		let row = document.createElement("TR");
		row.classList.add('table-tr')
		row.innerHTML += `
				<td class="table-td-header">${user.name}</td>
				<td class="table-td"><a href="mailto:${user.email}" target="_blank" class="hover:underline">${user.email}</a></td>
				<td class="table-td"><a href="tel:${user.email}" target="_blank" class="hover:underline">${user.phone}</a></td>
				<td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
					<a data-attr="${user._id}" href="javascript:void(0)" class="text-Amaranth-600 dark:text-Amaranth-500 hover:underline mr-2">Attributes</a>
					<a href="javascript:void(0)" class="text-Amaranth-600 dark:text-Amaranth-500 hover:underline">Delete</a>
				</td>
 `;
		document.getElementById('users').appendChild(row)
		document.querySelector(`[data-attr="${user._id}"]`).addEventListener("click", () => {
			viewAttributes(user.attributes)
		})
	})
	
</script>