<h1 class="title">Menu</h1>

<div x-data="dialog()">
  <button x-spread="trigger" class="hidden" id="MenuTrigger"></button>
  <div class="dialog flex items-center" x-spread="dialog" x-cloak>
    <div class="dialog-content">
      <div class="dialog-header">Create item
        <button type="button" class="btn btn-light btn-sm btn-icon" aria-label="Close" @click="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
      </div>
      <div class="dialog-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eius fugiat illum repudiandae commodi inventore magnam unde vero cupiditate molestiae?</div>
      <div class="dialog-footer">
        <button type="button" class="btn btn-light" @click="close">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<main class="p-3 flex gap-2" id="menu"></main>
<script>
	var res = <%-JSON.stringify(data)%>
	res = res.groupBy( ({ type }) => type );
	function addMenuItems(category, data) {
		data.forEach(item => {
			let container = document.querySelector(`[data-col="${category}"]`)
			let containerItem = document.createElement('DIV');
			containerItem.innerHTML = `
			<div class="px-5 py-4"><span class="text-gray-700 my-2">${item.name}</span>
			<br>${item.categories.map(d => `<div class="badge bg-[rgba(0,0,0,0.1)] text-gray-700 m-1 ml-0 text-xs px-2 py-1">${d}</div>`).join('')}
		</div>

			<div class="p-1 pt-0 moreDetails"><div class="px-4 pt-3 bg-[rgba(0,0,0,.05)] grid grid-cols-2 p-2 rounded-2xl">

				<div class="my-1">
					<span class="flex text-sm">Cost</span>
					<span class="text-md text-gray-700">\$${item.cost}</span>
				</div>
				<div class="my-1">
					<span class="flex text-sm">Revenue</span>
					<span class="text-md text-gray-700">\$${item.price}</span>
				</div>
			</div>

		</div>
			`
			containerItem.setAttribute('class', 'cursor-pointer bg-gray-100 hover:bg-gray-200 rounded-2xl my-2')
			container.appendChild(containerItem);
			containerItem.addEventListener('click', () => {
				if(document.querySelector('.moreDetails.active')) {
						document.querySelector('.moreDetails.active').classList.remove('active')
				}
									containerItem.querySelector('.moreDetails').classList.add('active')

			})
		})
	}
	Object.keys(res).forEach(category => {
		let col = document.createElement("SECTION");
		col.classList.add("menu-col");
		col.setAttribute('data-col', category)
		col.innerHTML = `
			<h3 class="text-xl my-2 text-gray-800">${category}</h3>
			<button class="px-4 py-3 rounded-2xl bg-gray-100 text-sm w-full hover:bg-gray-200 flex gap-3 focus:bg-gray-200 text-gray-800 outline-none items-center material-ripple transition-all" onclick="addMenuItem()"><i class="material-icons">add</i>New</button>
			<div class="items"></div>`;
		document.getElementById("menu").appendChild(col);

		addMenuItems(category, res[category])
	});
	function addMenuItem() {
		document.getElementById('MenuTrigger').click();
	}
</script> 